{{>header}}
    <form method="POST" action="/auth">
        Input PIN:
        <input class="pin" name="pin" maxlength="4" type="password">
        <button class="submit" type="submit">OK</button>
    </form>
{{>footer}}