{{#error_msg}}<div class="errorMsg">{{error_msg}}</div>{{/error_msg}}
{{#success_msg}}<div class="successMsg">{{success_msg}}</div>{{/success_msg}}

</div>

<!--<script src="auth.js"></script>-->
</body>
</html>