<!DOCTYPE html>
<html>
<head>
    <title>Sberminal</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="terminal">
    <h1 class="title"><span style="color: rgb(66, 255, 66)">SBER</span>MINAL</h1>