{{>header}}
<h2>Replenishment</h2>
<form method="post" action="/putMoney">
    Enter value:<input class="replenish" name="amount"><br/>
    <button type="submit">Submit</button>
</form>

{{>back_to_menu}}

{{>footer}}