.terminal {
    background-color: green;
    border: 4px solid black;
    margin: 0 auto;
    width: 30%
}

.title {
    font: 16pt "Arial Black";
    text-align: center
}

.submit {
    font: 12pt "Arial Black";
    margin-left: 1rem;
}

.pin {
    font: 1rem "Arial Black";
    width: 10%;
}

.errorMsg {
    color: red;
    font: 1rem sans-serif;
    margin-top: 1rem;
}

.successMsg {
    @extend .error;
    color: rgb(0, 255, 106);
}

.menuBtn {
    margin: 1rem;
}

.backToMenuBtn {
    background: rgb(0, 182, 112);
    font: 2rem impact;
    /* float: right; */
    margin: 1rem;
}

.withdraw.balance.replenish {
    font: 1rem "Arial Black";
    margin: 1rem;
    width: 20%;
}